.edit-quote {
    width: 1100px;
    position: relative;
    margin: 20px auto 20px;
    padding: 10px 15px;
    background: lightblue;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
}

.about-title{
    font-size: 45px;
    text-align: center;
    color: darkblue;
    margin: 0;
}

.readMore{
    margin-top: 20px;
    border: 1px solid tan;
}